EXTRACTION_MODE=structure
JWT_SECRET_KEY=change_me_in_production
NVIDIA_API_KEY=your_nvidia_api_key
POSTGRES_DB=research_qa
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5433
POSTGRES_USER=postgres
PREDEFINED_KB_INCLUDE_LATEST=true
PREDEFINED_KB_MAX_PAPERS=5
PREDEFINED_KB_YEARS=2026,2025
QDRANT_COLLECTION_NAME=research_papers
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_VECTOR_SIZE=1024
